################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ThreadTest/.vs/ThreadTest/v15
/ThreadTest/ThreadTest/bin/Debug
/ThreadTest/ThreadTest/obj/Debug
